
main {
  background-color: aliceblue;
 padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-section {
  background-color: beige;
  width: 100%;
  max-width: 350px;
  border: 2px solid gray;
padding: 30px;



}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}
 
#add-product{
  background-color: rgb(181, 50, 27);
    color:rgb(240, 245, 245);
    border-radius: 3px;
    padding: 8px;
      border: none;
      width: 100px;
     margin: 20px auto;
}
#product-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
 
#cart {
  list-style: none;
  padding: 0;
}
 
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
 
.cart-item span {
  flex: 1;
}
 
.cart-item button {
  margin-left: 10px;
}